
<!-- Intro Header -->
  <header class="masthead">
  </header>


  <!-- <div class="background">
    <div class="box">
        <p>image inside another image</p>
    <br />
  </div>

  div.background {
    width:100%;
    max-width:900px;
    height:500px;
    display:block;
    margin-left:auto;
    margin-right:auto;background-color:LimeGreen;
  }
  div.box {
     margin: 0 auto;
     position: relative;
     top: 125px;
     width:250px;
     height:250px;
    }
-->

  <div id="navbar" class="uppercase">
    <a href="#">Home</a>
    <a href="#perfil">Perfil</a>
    <a href="#artigos">Artigos</a>
    <a href="#areas">Areas</a>
    <a href="#contato">Contato</a>
  </div>

  <!-- Perfil Section -->
  <section id="perfil" class="content-section text-center perfil-section">
     <div class="col-md-6 col-md-offset-3 perfil-logo"></div>
     <div class="col-xs col-md-6 divHeight margTop20 paddBottom12 paddLeft50">{{profileTextOne}}</div>
     <div class="col-xs col-md-6 divHeight margTop20 paddRight50">{{profileTextTwo}}</div>
     <div class="col-md-6 col-md-offset-1">
        <h2>Perfil</h2>
     </div>
     <div class="col-xs-6 perfil-pessoa"></div>
     <div class="col-xs-6 divHeight paddRight50">{{profileTextThree}}</div>
   </section>

  <!-- Artigos Section -->
  <section id="artigos" class="content-section text-center artigos-section">
      <div class="col-md-6 col-md-offset-1">
       <h2>Artigos</h2>
     </div>
      <div class="col-xs col-md-6 divHeight paddBottom12">{{articleTitleOne}}<p>{{articleTextOne}}</p></div>
      <div class="col-xs col-md-6 divHeight">{{articleTitleTwo}}<p>{{articleTextTwo}}</p></div>
  </section>

  <!-- Areas Section -->
  <section id="areas" class="content-section text-center areas-section">
      <div class="col-md-6 col-md-offset-1">
       <h2>Areas</h2>
      </div>
      <div class="col-xs-6 familia1 margBottom40"></div>
      <div class="col-xs-6 familia2 margBottom40"></div>
      <div class="col-xs-6 familia3 margBottom40"></div>
      <div class="col-xs-6 familia4 margBottom40"></div>
  </section>

  <!-- Contact Section -->
  <section id="contato" class="content-section text-center contato-section">
    <div class="col-md-6 col-md-offset-1">
        <h2>Contato</h2>
      </div>
      <div class="col-md-1 map"></div>
  </section>

  <!-- Footer -->
  <footer class="content-section">
    <div class="col-md-1">
      <p>Copyright &copy; 2A</p>
    </div>
  </footer>
